
.toolkit_category_name {
    padding:5px;
}

.toolkit_category_name:hover {
    background-color: #EEEEEE;
}

.toolkit_type_name {
    padding:0px;
    margin:0px;
}

/*names of blocks in the pallet. */
.toolkit_type_name:hover {
    /*background-color: #FFFFFF !important;*/
    border-width:2px !important;
    border-color:#000000 !important;
    border-style:solid !important;
}


.block {
    display:inline-block;
    background-color:#AAAAAA;
    border-width:1px;
    border-color:black;
    border-style:solid;
    padding-top:3px;
    /*cursor: move; obscures clicking on expand squares *//*channges cursor to the 4 arrows "move" cursor when mouse hovers over a block indicating it can be dragged.*/
    /*position:absolute;
    left:100px;
    top:20px;*/
}
/* a given block will always have class "block" and ONE of the below 2 classes */
.block-absolute {
    position:absolute;
}

.block-top-left {
   position:static;
   left: 0px;
}


.block:hover {
    border-color:magenta;
}

.selected_block {
    border-color:red;
    border-width:3px;
}


.block-drop-zone { /*installed only DURING a drag */
    background-color: #6301e6; /*deep purple, no good for text background but fine for drop zone*/
}

.drop_target { /*only installed during dragging when the dragged elt is over a valid drop zone */
    background-color: black;
}

.block_name {
    display:inline;
    margin:2px;
}

.block_args {
    margin-top:2px;
}

/*a block_arg elt always has just 1 of the following 3 classes */
.block_args_collapsed  { /* set on a block that is horiz. implies that all its arg_name_value elts have
                  class arg_name_value_horiz but doesn't enforce it */
    display:none;
}

.block_args_horiz {
   display:inline;
}

.block_args_vert {
    display:block;
}

.arg_name_val {
    margin-left:10px;
    margin-right:10px;
    margin-top:2px;
}

/* a et of arg_name_val should also always have one of arg_name_val_horiz or arg_name_val_vert */
.arg_name_val_horiz {
    display:inline; /*inline means horiz which it is by default, but make it "block" for vertical */
    marginLeft:0px;
    marginRight:10px;
}

.arg_name_val_vert {
    display:block; /*inline means horiz which it is by default, but make it "block" for vertical */
    marginLeft:10px;
    marginRight:0px;
}

.arg_name {
}

.arg_val {
    border: solid 1px black;
}

.arg_val:hover{
    border-color: red;
}

.toggle_horiz_vert { /*the little square in the lower left of a block that clicking toggles between horiz and vert.*/
    border-width:1px;
    border-color:black;
    border-style:solid;
    width:5px;
    height:5px;
    display:inline-block;
    float:left;
}

.toggle_horiz_vert:hover{
    background-color:black;
}

.toggle_expand_collapse {
    border-width:1px;
    border-color:black;
    border-style:solid;
    width:5px;
    height:5px;
    display:inline-block;
    float:right;
}

.toggle_expand_collapse:hover{
    background-color:black;
}
